nav {
  position: fixed;
  z-index: 100;
  top: 40px;
  right: 40px;
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Selected {
  color: #ffc964
}
.Default {
  color: #ffc9649e
}
