:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #8f94fe;
  font-weight: bold;
  text-decoration: inherit;
}
a:hover {
  color: #8186e7;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

mark {
  color: #ffc964;
  font-weight: bold;
  background-color: inherit;
}

/* Styles for portrait phones */
@media only screen and (max-width: 479px) {
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
}

/* Styles for landscape phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Styles for tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Styles for desktops */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

/* Styles for large desktops */
@media only screen and (min-width: 1200px) {
}
